body{
    font-family: "garamond";
    background: #eaf4f9;
    background-attachment: scroll;
}
main{
    width: 35%;
    height: 70%;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 14%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: #dceaf0;
}
.main1{
    font-family: "arial";
    font-style: bold;
    font-size: 20px;
    cursor: none;
    color: #7a7379;
}
.main2{
    font-size: 15px;
    font-style: italic;
    color: #7a7376;
    cursor: none;
}
.main3{
    border-bottom: #7a7376;
    color: #c8c4c2;
}
.main4{
    border-bottom: grey;
    color: #c8c4c2;
}
.p{
    transform: translate (200px 50px)
}
input{
    display: block;
    border-style: solid;
    border-color: #7a7376;
    border-width: 0px 0px 1px 0px;
    width: 200px;
    height: 30px;
    margin: 10px auto;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}

button{
    padding: 10px 20px;
    cursor: pointer;
    width: 65%;
    background-color: #3598db;
    color: white;
    font-size: 1em;
    font-family: arial;
    border: none;
}
#no_account{
    font-size: 12px;
    text-align: center;
    color: #7a7376;
    cursor: pointer;
    border: none;
}
